{% extends "partials/layout.html" %}}

{% set pageId = "page-create-visitante" %}
{% block title %}
    <title>Gerar Cotas</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="/styles/create-visitante.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
     <form action="/cotas-save" method="POST">{# Alteração do metodo padrao get para post #}
        <h1>Cotas</h1>

        <fieldset>
            <legend>
                <h2>Selecione o mes e ano para gerar as cotas</h2>
            </legend>
          
        <div class="field-group">
                <div class="field">
                    <label for="">Mes</label>
                    <select type="text" name="mes" required="required" >
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereio</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </div>
                 
                <div class="field">
                    <label for="">Ano</label>
                    <select type="text" name="ano" required="required" >
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                    </select>
                </div>   
            </div>    
        </fieldset>

        <button type="submit">Gerar Cotas</button>

    </form>
{% endblock content%}

    {% block modal %}
        {% if saved %}
            {%include "partials/visitante-cadastrado.html"%}
        {% endif %}
    {% endblock modal %}
    