{% set pageId = "page-home" %}

 <title>Ecoleta</title>
    {% block styles %}
        <link rel="stylesheet" href="/styles/home.css">
    {% endblock styles %}
    {% block content %}
        <div class="content">

            <main>
                <h1>Sistema Gerenciador de Condominio</h1>
                <a href="/create-visitante">
                   <strong> Cadastro de Visitante</strong>
                </a>
                <a href="/create-empresa">
                   <strong> Cadastro de Empresa</strong>
                </a>
                <a href="/create-cost">
                   <strong> Cadastro de Despesa</strong>
                </a>
                <a href="/cotas">
                   <strong> Gerar Cotas</strong>
                </a>
                <a href="/search">
                    <strong>Listar Visitantes</strong>
                </a>
                <a href="/search-empresas">
                    <strong>Listar Empresas</strong>
                </a>
                <a href="/estacionamento">
                    <strong>Estacionamento</strong>
                </a>
            </main>
        
        
        </div>
    {% endblock content %}
