{% extends "partials/layout.html" %}}

{% set pageId = "page-search-results" %}
{% block title %}
    <title>Resultado da pesquisa</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="/styles/search-results.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% include "partials/page-header.html" %}
{% block content %}
    {% include "partials/page-header.html" %}
    <main>
    {% if total > 0 %}
        <h2>
            <strong>{{total}} Empresas</strong>
            encontrados
        </h2>
        <div class="visitantes">
        <table border="1">
        <tr>
           <th><h1>Nome</h1></th> 
           <th><h1>Tipo</h1> </th>
           <th><h1>Cnpj</h1> </th>
           <th><h1>Telefone</h1> </th>
           <th><h1>Andar</h1> </th>
           <th><h1>Sala</h1> </th>

        </tr>
        {% for empresa in empresas %}      
               <tr>
                <td> <h3>{{ empresa.name }}</h3></td>
                <td> <h3>{{ empresa.type }}</h3></td>
                <td> <h3>{{ empresa.cnpj }}</h3></td>
                <td> <h3>{{ empresa.telefone }}</h3></td>
                <td> <h3>{{ empresa.andar }}</h3></td>
                <td> <h3>{{ empresa.sala }}</h3></td>
                
               </tr>
        {% endfor %}
        {% else %}
        <h4><strong>Nenhuma</strong> empresa encontrado</h4>
    {% endif %}
        </table>
        </div>
    </main>
{% endblock content%}