{% extends "partials/layout.html" %}}

{% set pageId = "page-search-results" %}
{% block title %}
    <title>Resultado da pesquisa</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="/styles/search-results.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% include "partials/page-header.html" %}
{% block content %}
    {% include "partials/page-header.html" %}
    <main>

        <h2>
            <strong>{{total}} Cotas </strong>
            Geradas
        </h2>
        <div class="visitantes">
        <table border="1">
        <tr>
           <th><h1>Total de Locatarios</h1></th> 
           <th><h1>Despesas no mes</h1> </th>
           <th><h1>Valor por Cota</h1> </th>

        </tr>
        
               <tr>
                <td> <h3>{{ resultados.calculo.locador }}</h3></td>
                <td> <h3>R$ {{ resultados.calculo.gastos }}</h3></td>
                <td> <h3>R$ {{ resultados.calculo.cotas }}</h3></td>
                
                
               </tr>

        </table>
        </div>
    </main>
    {# <script>
    alert()
    setTimeout(()=>{
    window.location = "/create-visitante"
    }, 1000);
</script> #}
{% endblock content%}